In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("https://data.cdc.gov/api/views/bi63-dtpu/rows.csv")

In [4]:
d

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1
5,2009,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,29,4.4
6,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,South Dakota,49,4.5
7,2015,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,39,4.5
8,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,37,4.5
9,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,374,4.9
10,2015,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,34,4.9
11,2001,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,279,5.0
12,1999,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,30,5.1
13,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
14,2016,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,40,5.2
15,2006,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,30,5.2
16,2002,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,31,5.2
17,2003,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,304,5.3
18,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,43,5.4
19,2008,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,39,5.4
20,2002,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,306,5.4
21,2000,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,293,5.4
22,2005,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,33,5.4
23,2015,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,458,5.5
24,2004,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,33,5.5
25,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,395,5.6
26,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,South Dakota,58,5.6
27,2011,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,37,5.6
28,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,487,5.7
29,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,414,5.7
...,...,...,...,...,...,...
10266,2002,All Causes,All causes,West Virginia,21016,999.0
10267,2006,All Causes,All causes,Mississippi,28564,999.1
10268,2001,All Causes,All causes,West Virginia,20967,1000.9
10269,2005,All Causes,All causes,Alabama,47090,1001.3
10270,2001,All Causes,All causes,Alabama,45316,1002.1
10271,2003,All Causes,All causes,West Virginia,21306,1003.1
10272,1999,All Causes,All causes,Kentucky,39321,1004.1
10273,2000,All Causes,All causes,Alabama,45062,1004.8
10274,2000,All Causes,All causes,Louisiana,41138,1006.3
10275,2002,All Causes,All causes,Louisiana,41984,1008.5
10276,1999,All Causes,All causes,Alabama,44806,1009.3
10277,2002,All Causes,All causes,Kentucky,40697,1009.7
10278,2000,All Causes,All causes,West Virginia,21114,1011.1
10279,1999,All Causes,All causes,West Virginia,21049,1012.3
10280,2001,All Causes,All causes,Louisiana,41757,1013.1
10281,2002,All Causes,All causes,Alabama,46069,1013.4
10282,2003,All Causes,All causes,Louisiana,42719,1013.7
10283,2003,All Causes,All causes,Alabama,46716,1020.2
10284,1999,All Causes,All causes,Louisiana,41238,1021.6
10285,2005,All Causes,All causes,Louisiana,44355,1023.7
10286,2005,All Causes,All causes,Mississippi,29196,1028.7
10287,2003,All Causes,All causes,Mississippi,28489,1031.6
10288,2002,All Causes,All causes,District of Columbia,5851,1034.1
10289,2001,All Causes,All causes,Mississippi,28259,1034.3
10290,1999,All Causes,All causes,Mississippi,28185,1043.4
10291,2001,All Causes,All causes,District of Columbia,5951,1049.9
10292,2002,All Causes,All causes,Mississippi,28853,1051.6
10293,2000,All Causes,All causes,Mississippi,28654,1051.9
10294,2000,All Causes,All causes,District of Columbia,6001,1061.2
10295,1999,All Causes,All causes,District of Columbia,6076,1087.3

In [5]:
d["State"].tolist()

['Vermont',
 'Vermont',
 'Vermont',
 'District of Columbia',
 'Arizona',
 'District of Columbia',
 'South Dakota',
 'Vermont',
 'Vermont',
 'Arizona',
 'District of Columbia',
 'Washington',
 'District of Columbia',
 'Washington',
 'District of Columbia',
 'District of Columbia',
 'District of Columbia',
 'Washington',
 'Vermont',
 'Vermont',
 'Washington',
 'Washington',
 'District of Columbia',
 'Arizona',
 'District of Columbia',
 'Arizona',
 'South Dakota',
 'District of Columbia',
 'Arizona',
 'Arizona',
 'District of Columbia',
 'District of Columbia',
 'Iowa',
 'South Dakota',
 'South Dakota',
 'Washington',
 'Washington',
 'New York',
 'New York',
 'Iowa',
 'District of Columbia',
 'Massachusetts',
 'New York',
 'New York',
 'Washington',
 'District of Columbia',
 'New Jersey',
 'California',
 'North Dakota',
 'Washington',
 'New Jersey',
 'North Dakota',
 'New Jersey',
 'New York',
 'New York',
 'Rhode Island',
 'Iowa',
 'Iowa',
 'North Dakota',
 'South Dakota',
 'Massachusetts',
 'Iowa',
 'South Dakota',
 'District of Columbia',
 'Massachusetts',
 'Massachusetts',
 'New Jersey',
 'New York',
 'North Dakota',
 'North Dakota',
 'Washington',
 'Washington',
 'Massachusetts',
 'New Jersey',
 'New Jersey',
 'Vermont',
 'Washington',
 'Massachusetts',
 'Massachusetts',
 'New Jersey',
 'New Jersey',
 'New York',
 'Alaska',
 'California',
 'Oregon',
 'Vermont',
 'Washington',
 'Washington',
 'Wyoming',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'Iowa',
 'North Dakota',
 'Oregon',
 'Oregon',
 'District of Columbia',
 'New York',
 'Vermont',
 'Vermont',
 'California',
 'Idaho',
 'New York',
 'Alaska',
 'Iowa',
 'Washington',
 'New York',
 'New York',
 'Rhode Island',
 'Alaska',
 'California',
 'California',
 'California',
 'District of Columbia',
 'Iowa',
 'Oregon',
 'Massachusetts',
 'New Jersey',
 'Oregon',
 'South Dakota',
 'Connecticut',
 'Connecticut',
 'District of Columbia',
 'Oregon',
 'South Dakota',
 'Vermont',
 'New Jersey',
 'Washington',
 'Washington',
 'Connecticut',
 'Massachusetts',
 'New Jersey',
 'California',
 'California',
 'Iowa',
 'Iowa',
 'South Dakota',
 'Vermont',
 'Rhode Island',
 'California',
 'California',
 'Idaho',
 'Oregon',
 'Oregon',
 'South Dakota',
 'Vermont',
 'Massachusetts',
 'New Jersey',
 'New York',
 'Rhode Island',
 'New York',
 'Minnesota',
 'Arizona',
 'Iowa',
 'Iowa',
 'District of Columbia',
 'Massachusetts',
 'New York',
 'Arizona',
 'Iowa',
 'North Dakota',
 'Connecticut',
 'Illinois',
 'Rhode Island',
 'Vermont',
 'California',
 'District of Columbia',
 'Idaho',
 'Idaho',
 'Iowa',
 'Montana',
 'New Hampshire',
 'North Dakota',
 'Oregon',
 'Washington',
 'Connecticut',
 'Illinois',
 'New Jersey',
 'Oregon',
 'Iowa',
 'Oregon',
 'Vermont',
 'Connecticut',
 'Connecticut',
 'Illinois',
 'Illinois',
 'New York',
 'New York',
 'New York',
 'Rhode Island',
 'California',
 'Idaho',
 'Idaho',
 'Oregon',
 'Oregon',
 'Connecticut',
 'Hawaii',
 'Massachusetts',
 'Massachusetts',
 'New York',
 'Rhode Island',
 'Washington',
 'Arizona',
 'California',
 'Iowa',
 'Vermont',
 'Illinois',
 'Maryland',
 'Maryland',
 'New Jersey',
 'New Jersey',
 'New York',
 'Alaska',
 'Vermont',
 'Alaska',
 'Maryland',
 'Maryland',
 'Massachusetts',
 'New York',
 'Florida',
 'Arizona',
 'California',
 'Colorado',
 'Colorado',
 'Idaho',
 'Vermont',
 'California',
 'Connecticut',
 'Connecticut',
 'California',
 'California',
 'California',
 'Idaho',
 'Iowa',
 'Illinois',
 'Illinois',
 'Maryland',
 'Oregon',
 'California',
 'Idaho',
 'Connecticut',
 'Maryland',
 'Massachusetts',
 'District of Columbia',
 'Idaho',
 'Idaho',
 'Iowa',
 'Minnesota',
 'Montana',
 'Nevada',
 'Oregon',
 'Connecticut',
 'Maryland',
 'Maryland',
 'Maryland',
 'Massachusetts',
 'Massachusetts',
 'Rhode Island',
 'New York',
 'Florida',
 'Florida',
 'Oregon',
 'Colorado',
 'Colorado',
 'Florida',
 'Florida',
 'Oregon',
 'Oregon',
 'Hawaii',
 'Maryland',
 'Massachusetts',
 'Minnesota',
 'Rhode Island',
 'New York',
 'Oregon',
 'Colorado',
 'District of Columbia',
 'New Hampshire',
 'Rhode Island',
 'Hawaii',
 'Illinois',
 'Maryland',
 'Maryland',
 'Minnesota',
 'New York',
 'Oregon',
 'Hawaii',
 'Oregon',
 'South Dakota',
 'Utah',
 'California',
 'California',
 'Delaware',
 'Illinois',
 'Rhode Island',
 'Oregon',
 'Hawaii',
 'Vermont',
 'Wyoming',
 'Illinois',
 'Illinois',
 'Maryland',
 'Maryland',
 'Florida',
 'Florida',
 'Vermont',
 'Vermont',
 'Arizona',
 'Montana',
 'New Mexico',
 'New York',
 'New York',
 'Wyoming',
 'California',
 'Illinois',
 'Illinois',
 'Maryland',
 'Nebraska',
 'Ohio',
 'Hawaii',
 'New York',
 'Florida',
 'Florida',
 'Washington',
 'Idaho',
 'Idaho',
 'New Hampshire',
 'Oregon',
 'Rhode Island',
 'Rhode Island',
 'Wyoming',
 'Connecticut',
 'Maryland',
 'District of Columbia',
 'New York',
 'Arizona',
 'Arizona',
 'Florida',
 'Alaska',
 'Colorado',
 'Nebraska',
 'Hawaii',
 'Hawaii',
 'Maryland',
 'Nebraska',
 'Ohio',
 'Rhode Island',
 'Colorado',
 'Florida',
 'Colorado',
 'Colorado',
 'Hawaii',
 'Montana',
 'California',
 'California',
 'Minnesota',
 'New York',
 'Minnesota',
 'Idaho',
 'Minnesota',
 'Montana',
 'Nebraska',
 'New York',
 'New York',
 'Rhode Island',
 'California',
 'Delaware',
 'Hawaii',
 'Ohio',
 'Hawaii',
 'Minnesota',
 'Montana',
 'Nebraska',
 'New York',
 'New York',
 'Rhode Island',
 'Connecticut',
 'Connecticut',
 'Illinois',
 'Iowa',
 'Maryland',
 'Minnesota',
 'Minnesota',
 'Florida',
 'Vermont',
 'Vermont',
 'Washington',
 'District of Columbia',
 'Montana',
 'Rhode Island',
 'Rhode Island',
 'Rhode Island',
 'South Dakota',
 'Wyoming',
 'California',
 'California',
 'Connecticut',
 'Connecticut',
 'Illinois',
 'Michigan',
 'Michigan',
 'New Hampshire',
 'Rhode Island',
 'Hawaii',
 'Alaska',
 'Arizona',
 'Arizona',
 'Vermont',
 'Washington',
 'Alaska',
 'Alaska',
 'District of Columbia',
 'Florida',
 'Nebraska',
 'Vermont',
 'Wyoming',
 'California',
 'Maine',
 'Ohio',
 'Washington',
 'Washington',
 'Alaska',
 'Alaska',
 'Florida',
 'New Mexico',
 'South Dakota',
 'Connecticut',
 'Nebraska',
 'Rhode Island',
 'Vermont',
 'Florida',
 'Florida',
 'Florida',
 'Minnesota',
 'New Hampshire',
 'New Hampshire',
 'Oregon',
 'Tennessee',
 'California',
 'California',
 'Hawaii',
 'Iowa',
 'Michigan',
 'Minnesota',
 'Nebraska',
 'Pennsylvania',
 'Texas',
 'Texas',
 'New York',
 'Minnesota',
 'Colorado',
 'Hawaii',
 'Idaho',
 'Montana',
 'Montana',
 'Montana',
 'New Mexico',
 'Texas',
 'Utah',
 'California',
 'California',
 'California',
 'Delaware',
 'Georgia',
 'Illinois',
 'Iowa',
 'Louisiana',
 'New Hampshire',
 'New Hampshire',
 'Pennsylvania',
 'Texas',
 'Vermont',
 'Hawaii',
 'New York',
 'Arizona',
 'Arizona',
 'Minnesota',
 'Oregon',
 'Arizona',
 'District of Columbia',
 'Minnesota',
 'Rhode Island',
 'Tennessee',
 'California',
 'Delaware',
 'Georgia',
 'Indiana',
 'Nebraska',
 'North Dakota',
 'United States',
 'Hawaii',
 'New York',
 'Florida',
 'Alaska',
 'Arizona',
 'Florida',
 'Hawaii',
 'Montana',
 'Nevada',
 'North Dakota',
 'California',
 'California',
 'Illinois',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Nebraska',
 'Nebraska',
 'South Carolina',
 'Texas',
 'United States',
 'Minnesota',
 'New Jersey',
 'Washington',
 'Florida',
 'Florida',
 'Delaware',
 'Georgia',
 'Minnesota',
 'Nebraska',
 'Ohio',
 'Pennsylvania',
 'New York',
 'Delaware',
 'Minnesota',
 'New Jersey',
 'Washington',
 'Utah',
 'Georgia',
 'Illinois',
 'Iowa',
 'Iowa',
 'Louisiana',
 'Pennsylvania',
 'Texas',
 'United States',
 'New York',
 'Colorado',
 'Florida',
 'Hawaii',
 'Minnesota',
 'New Hampshire',
 'South Dakota',
 'Wyoming',
 'Minnesota',
 'Minnesota',
 'Pennsylvania',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'Texas',
 'United States',
 'Virginia',
 'Hawaii',
 'New York',
 'Minnesota',
 'Vermont',
 'Georgia',
 'Hawaii',
 'Kansas',
 'Louisiana',
 'Michigan',
 'Nebraska',
 'Nebraska',
 'Texas',
 'Texas',
 'United States',
 'Virginia',
 'Virginia',
 'Virginia',
 'Wisconsin',
 'Colorado',
 'Minnesota',
 'New Jersey',
 'Rhode Island',
 'Colorado',
 'New Hampshire',
 'New York',
 'North Dakota',
 'Utah',
 'Utah',
 'Delaware',
 'Delaware',
 'Delaware',
 'Louisiana',
 'Maine',
 'Michigan',
 'Mississippi',
 'North Carolina',
 'United States',
 'United States',
 'United States',
 'Virginia',
 'Montana',
 'Texas',
 'Alaska',
 'Arizona',
 'Colorado',
 'Florida',
 'Hawaii',
 'New York',
 'New York',
 'Georgia',
 'Hawaii',
 'Michigan',
 'Michigan',
 'North Dakota',
 'North Dakota',
 'Ohio',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'South Carolina',
 'Texas',
 'Texas',
 'Virginia',
 'Virginia',
 'Wisconsin',
 'Oregon',
 'Rhode Island',
 'Arizona',
 'Florida',
 'Hawaii',
 'Hawaii',
 'Nebraska',
 'New York',
 'New York',
 'Rhode Island',
 'South Dakota',
 'Tennessee',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Iowa',
 'Kansas',
 'Louisiana',
 'Louisiana',
 'Michigan',
 'Minnesota',
 'Minnesota',
 'Nebraska',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'North Carolina',
 'Ohio',
 'Rhode Island',
 'Rhode Island',
 'Virginia',
 'Virginia',
 'New York',
 'Delaware',
 'Idaho',
 'Idaho',
 'Idaho',
 'New Jersey',
 'Hawaii',
 'Maryland',
 'Montana',
 'Montana',
 'Montana',
 'New Hampshire',
 'New Mexico',
 'North Dakota',
 'Utah',
 'Delaware',
 'Georgia',
 'Indiana',
 'Indiana',
 'Nebraska',
 'Ohio',
 'South Carolina',
 'United States',
 'Wisconsin',
 'Connecticut',
 'Nevada',
 'Arizona',
 'Washington',
 'Colorado',
 'Florida',
 'Maine',
 'Maryland',
 'Minnesota',
 'New Hampshire',
 'New Hampshire',
 'New Hampshire',
 'New York',
 'Texas',
 'Alabama',
 'Alabama',
 'Delaware',
 'Georgia',
 'Mississippi',
 'Ohio',
 'South Carolina',
 'Vermont',
 'District of Columbia',
 'District of Columbia',
 'New Hampshire',
 'Colorado',
 'Colorado',
 'Hawaii',
 'Maryland',
 'Maryland',
 'Nebraska',
 'North Dakota',
 'Rhode Island',
 'Utah',
 'Alabama',
 'Alabama',
 'Delaware',
 'Iowa',
 'Louisiana',
 'Michigan',
 'North Carolina',
 'Ohio',
 'South Carolina',
 'Texas',
 'Iowa',
 'Maine',
 'Minnesota',
 'Washington',
 'Alaska',
 'New Hampshire',
 'New York',
 'Utah',
 'Wyoming',
 'Georgia',
 'Kentucky',
 'Nebraska',
 'North Carolina',
 'South Carolina',
 'Texas',
 'United States',
 'Wisconsin',
 'Wisconsin',
 'Connecticut',
 'Oregon',
 'Rhode Island',
 'Hawaii',
 'Maine',
 'New Mexico',
 'Tennessee',
 'Utah',
 'Wyoming',
 'Alabama',
 'Delaware',
 'Georgia',
 'Georgia',
 'Georgia',
 'Indiana',
 'Mississippi',
 'Nebraska',
 'Texas',
 'Virginia',
 'Virginia',
 'Wisconsin',
 'Connecticut',
 'New Hampshire',
 'Hawaii',
 'Hawaii',
 'Idaho',
 'New Hampshire',
 'North Dakota',
 'South Carolina',
 'Tennessee',
 'Tennessee',
 'Hawaii',
 'Maine',
 'Michigan',
 'Missouri',
 'Nebraska',
 'North Carolina',
 'Pennsylvania',
 'South Carolina',
 'South Carolina',
 'Texas',
 'United States',
 'Virginia',
 'Alaska',
 'Hawaii',
 'Nebraska',
 'Wisconsin',
 'Arizona',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Maryland',
 'New York',
 'Oklahoma',
 'Rhode Island',
 'Wisconsin',
 'Wyoming',
 'Delaware',
 'Georgia',
 'Indiana',
 'Indiana',
 'Iowa',
 'Iowa',
 'Louisiana',
 'Louisiana',
 'Mississippi',
 'New Hampshire',
 'North Carolina',
 'Pennsylvania',
 'Texas',
 'Washington',
 'Wisconsin',
 'New Jersey',
 'Colorado',
 'Maine',
 'Oregon',
 'South Carolina',
 'Maine',
 'Maryland',
 'Montana',
 'Montana',
 'New Hampshire',
 'New Mexico',
 'New York',
 'North Dakota',
 'Rhode Island',
 'Tennessee',
 'Utah',
 'Georgia',
 'Louisiana',
 'Louisiana',
 'Minnesota',
 'New Hampshire',
 'New Hampshire',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'South Carolina',
 'Wisconsin',
 'Connecticut',
 'District of Columbia',
 'New Jersey',
 'Colorado',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'District of Columbia',
 'Florida',
 'Idaho',
 'Maryland',
 'Maryland',
 'Minnesota',
 'Nebraska',
 'Nebraska',
 'Hawaii',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Maine',
 'Minnesota',
 'Missouri',
 'United States',
 'West Virginia',
 'Hawaii',
 'Connecticut',
 'Florida',
 'Montana',
 'Arizona',
 'District of Columbia',
 'Florida',
 'Florida',
 'Hawaii',
 'New York',
 'Wyoming',
 'Florida',
 'Kansas',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Mississippi',
 'North Carolina',
 'North Carolina',
 'Ohio',
 'Ohio',
 'Pennsylvania',
 'Rhode Island',
 'Tennessee',
 'Texas',
 'Vermont',
 'Colorado',
 'Colorado',
 'Nebraska',
 'Maryland',
 'Minnesota',
 'Minnesota',
 'Nebraska',
 'Nebraska',
 'New Mexico',
 'New York',
 'Tennessee',
 'Wyoming',
 'Indiana',
 'Louisiana',
 'North Carolina',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Rhode Island',
 'South Dakota',
 'United States',
 'Vermont',
 'Washington',
 'Hawaii',
 'District of Columbia',
 'Idaho',
 'Oklahoma',
 'Washington',
 'Connecticut',
 'Idaho',
 'Maine',
 'Maryland',
 'New Hampshire',
 'Rhode Island',
 'Utah',
 'Alabama',
 'Alabama',
 'Florida',
 'Louisiana',
 'Louisiana',
 'Maine',
 'Maine',
 'Missouri',
 'Pennsylvania',
 'Washington',
 'Wisconsin',
 'Alaska',
 'Alaska',
 'Minnesota',
 'New Jersey',
 'New Mexico',
 'Alaska',
 'Arizona',
 'Colorado',
 'District of Columbia',
 'Hawaii',
 'Minnesota',
 'New York',
 'North Dakota',
 'Wyoming',
 'Alabama',
 'Delaware',
 'Florida',
 'Hawaii',
 'Louisiana',
 'Maine',
 'Michigan',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Missouri',
 'Nebraska',
 'South Dakota',
 'Texas',
 'Vermont',
 'Virginia',
 'Wisconsin',
 'Hawaii',
 'New York',
 'Alaska',
 'Indiana',
 'New Hampshire',
 'New Jersey',
 'Oregon',
 'Maryland',
 'Minnesota',
 'New Mexico',
 'New Mexico',
 'Rhode Island',
 'Tennessee',
 'Alabama',
 'Arkansas',
 'Delaware',
 'Florida',
 'Georgia',
 'Indiana',
 'Iowa',
 'Missouri',
 'North Carolina',
 'Ohio',
 'Texas',
 'United States',
 'United States',
 'Virginia',
 'Alaska',
 'Delaware',
 'Hawaii',
 'Nebraska',
 'Vermont',
 'Virginia',
 'Alaska',
 'Delaware',
 'Texas',
 ...]

In [9]:
state = d["State"].to_frame()
state

                      State
0                   Vermont
1                   Vermont
2                   Vermont
3      District of Columbia
4                   Arizona
5      District of Columbia
6              South Dakota
7                   Vermont
8                   Vermont
9                   Arizona
10     District of Columbia
11               Washington
12     District of Columbia
13               Washington
14     District of Columbia
15     District of Columbia
16     District of Columbia
17               Washington
18                  Vermont
19                  Vermont
20               Washington
21               Washington
22     District of Columbia
23                  Arizona
24     District of Columbia
25                  Arizona
26             South Dakota
27     District of Columbia
28                  Arizona
29                  Arizona
...                     ...
10266         West Virginia
10267           Mississippi
10268         West Virginia
10269               Alabama
10270               Alabama
10271         West Virginia
10272              Kentucky
10273               Alabama
10274             Louisiana
10275             Louisiana
10276               Alabama
10277              Kentucky
10278         West Virginia
10279         West Virginia
10280             Louisiana
10281               Alabama
10282             Louisiana
10283               Alabama
10284             Louisiana
10285             Louisiana
10286           Mississippi
10287           Mississippi
10288  District of Columbia
10289           Mississippi
10290           Mississippi
10291  District of Columbia
10292           Mississippi
10293           Mississippi
10294  District of Columbia
10295  District of Columbia

[10296 rows x 1 columns]

In [12]:
state.to_csv("state.csv",index=False)

In [13]:
pd.read_csv("state.csv")

                      State
0                   Vermont
1                   Vermont
2                   Vermont
3      District of Columbia
4                   Arizona
5      District of Columbia
6              South Dakota
7                   Vermont
8                   Vermont
9                   Arizona
10     District of Columbia
11               Washington
12     District of Columbia
13               Washington
14     District of Columbia
15     District of Columbia
16     District of Columbia
17               Washington
18                  Vermont
19                  Vermont
20               Washington
21               Washington
22     District of Columbia
23                  Arizona
24     District of Columbia
25                  Arizona
26             South Dakota
27     District of Columbia
28                  Arizona
29                  Arizona
...                     ...
10266         West Virginia
10267           Mississippi
10268         West Virginia
10269               Alabama
10270               Alabama
10271         West Virginia
10272              Kentucky
10273               Alabama
10274             Louisiana
10275             Louisiana
10276               Alabama
10277              Kentucky
10278         West Virginia
10279         West Virginia
10280             Louisiana
10281               Alabama
10282             Louisiana
10283               Alabama
10284             Louisiana
10285             Louisiana
10286           Mississippi
10287           Mississippi
10288  District of Columbia
10289           Mississippi
10290           Mississippi
10291  District of Columbia
10292           Mississippi
10293           Mississippi
10294  District of Columbia
10295  District of Columbia

[10296 rows x 1 columns]

In [15]:
c = pd.read_excel("excel.xlsx",sheet_name=["2006","2010"])

In [17]:
c["2006"]

          Futbolcu  Gol
0   Miroslav Klose    5
1   Lucas Podolski    4
2      David Villa    3
3   Maxi Rodriguez    3
4    Thierry Henry    3
5  Zinedine Zidane    3
6    Hernan Crespo    3
7  Fernando Torres    3
8          Ronaldo    3
9         Adriano     2

In [18]:
c["2010"]

          Futbolcu  Gol
0      David Villa    5
1  Wesley Sneijder    5
2     Diego Forlan    5
3    Thomas Müller    5
4   Miroslav Klose    4
5    Robert Vittek    4
6        G.Higuain    4
7     Asamoah Gyan    3
8   Landon Donovan    3
9      Luis Suares    3

In [19]:
c

OrderedDict([('2006',           Futbolcu  Gol
              0   Miroslav Klose    5
              1   Lucas Podolski    4
              2      David Villa    3
              3   Maxi Rodriguez    3
              4    Thierry Henry    3
              5  Zinedine Zidane    3
              6    Hernan Crespo    3
              7  Fernando Torres    3
              8          Ronaldo    3
              9         Adriano     2), ('2010',           Futbolcu  Gol
              0      David Villa    5
              1  Wesley Sneijder    5
              2     Diego Forlan    5
              3    Thomas Müller    5
              4   Miroslav Klose    4
              5    Robert Vittek    4
              6        G.Higuain    4
              7     Asamoah Gyan    3
              8   Landon Donovan    3
              9      Luis Suares    3)])

In [21]:
dönüş = pd.read_csv("2014 wc.csv")

In [22]:
dönüş.to_excel("2014.xlsx",sheet_name="2014")

In [23]:
netten = pd.read_html("https://ipfs.io/ipfs/QmXoypizjW3WknFiJnKLwHCnL72vedxjQkDDP1mXWo6uco/wiki/List_of_banks_in_Turkey.html")

In [25]:
netten[0] #çok karışık olduğu için ilk elemanı okuduk aşağıda ful kaynaktan alınan bilgi var.

,Bank,Foundation,# of branches As of 22 February 2016,Total assets (million TL) As of September 2015[4]
0,Ziraat Bankası,1863,1789,299084
1,Türkiye İş Bankası,1924,1355,279942
2,Garanti Bank,1946,974,260700
3,Akbank,1948,901,236148
4,Yapı ve Kredi Bankası,1944,997,232248
5,Halk Bankası,1938,948,189686
6,VakıfBank,1954,917,188820
7,Finansbank,1987,641,90410
8,Türk Ekonomi Bankası,1927,528,73666
9,Denizbank,1997,691,82195
10,HSBC Bank,1990,280,32869
11,ING Bank,1984,288,51645
12,Türk Eximbank,1987,3,46518
13,Odeabank,2012,55,32841
14,Şekerbank,1953,300,23777
15,İller Bankası,1933,19,17494
16,Türkiye Sınai Kalkınma Bankası,1950,3,20853
17,Alternatif Bank,1992,57,13793
18,Citibank,1980,8,8920
19,Anadolubank,1996,106,11620
20,Burgan Bank,1992,55,10696
21,İstanbul Takas ve Saklama Bankası,1995,1,7631
22,Tekstilbank,1986,44,6264
23,Deutsche Bank,1988,1,2681
24,Fibabanka,1984,68,9476
25,Aktif Yatırım Bankası,1999,8,7383
26,The Royal Bank of Scotland,1921,1,1754
27,Türkiye Kalkınma Bankası,1975,1,4975
28,Turkland Bank,1991,34,5651
29,Bank of Tokyo-Mitsubishi UFJ Turkey,2013,1,4737
30,Arap Türk Bankası,1977,7,3975
31,Intesa Sanpaolo S.p.A.,2013,1,3925
32,Merrill Lynch,1992,1,204
33,BankPozitif,1999,1,2090
34,Société Générale,1989,1,477
35,Turkish Bank,1982,13,1397
36,Rabobank,2014,1,843
37,JPMorgan Chase,1984,1,392
38,Birleşik Fon Bankası,1958,1,2450
39,Bank Mellat,1982,3,354
40,Nurol Yatırım Bankası,1999,1,788
41,Diler Yatırım Bankası,1998,1,116
42,GSD Yatırım Bankası,1998,1,231
43,Habib Bank Limited,1983,1,113
44,Credit Agricole (Standard Chartered),1990,1,83
45,Adabank,1985,1,53
46,Taib Yatırım Bank (Pasha Yatırım),1987,1,276

In [26]:
netten

[                                    Bank  Foundation  \
 0                         Ziraat Bankası        1863
 1                     Türkiye İş Bankası        1924
 2                           Garanti Bank        1946
 3                                 Akbank        1948
 4                  Yapı ve Kredi Bankası        1944
 5                           Halk Bankası        1938
 6                              VakıfBank        1954
 7                             Finansbank        1987
 8                   Türk Ekonomi Bankası        1927
 9                              Denizbank        1997
 10                             HSBC Bank        1990
 11                              ING Bank        1984
 12                         Türk Eximbank        1987
 13                              Odeabank        2012
 14                             Şekerbank        1953
 15                         İller Bankası        1933
 16        Türkiye Sınai Kalkınma Bankası        1950
 17                       Alternatif Bank        1992
 18                              Citibank        1980
 19                           Anadolubank        1996
 20                           Burgan Bank        1992
 21     İstanbul Takas ve Saklama Bankası        1995
 22                           Tekstilbank        1986
 23                         Deutsche Bank        1988
 24                             Fibabanka        1984
 25                 Aktif Yatırım Bankası        1999
 26            The Royal Bank of Scotland        1921
 27              Türkiye Kalkınma Bankası        1975
 28                         Turkland Bank        1991
 29   Bank of Tokyo-Mitsubishi UFJ Turkey        2013
 30                     Arap Türk Bankası        1977
 31                Intesa Sanpaolo S.p.A.        2013
 32                         Merrill Lynch        1992
 33                           BankPozitif        1999
 34                      Société Générale        1989
 35                          Turkish Bank        1982
 36                              Rabobank        2014
 37                        JPMorgan Chase        1984
 38                  Birleşik Fon Bankası        1958
 39                           Bank Mellat        1982
 40                 Nurol Yatırım Bankası        1999
 41                 Diler Yatırım Bankası        1998
 42                   GSD Yatırım Bankası        1998
 43                    Habib Bank Limited        1983
 44  Credit Agricole (Standard Chartered)        1990
 45                               Adabank        1985
 46     Taib Yatırım Bank (Pasha Yatırım)        1987

     # of branches As of 22 February 2016  \
 0                                   1789
 1                                   1355
 2                                    974
 3                                    901
 4                                    997
 5                                    948
 6                                    917
 7                                    641
 8                                    528
 9                                    691
 10                                   280
 11                                   288
 12                                     3
 13                                    55
 14                                   300
 15                                    19
 16                                     3
 17                                    57
 18                                     8
 19                                   106
 20                                    55
 21                                     1
 22                                    44
 23                                     1
 24                                    68
 25                                     8
 26                                     1
 27                                     1
 28                                    34
 29                                     1
 30                                     7
 31                                     1
 32                                     1
 33                                     1
 34                                     1
 35                                    13
 36                                     1
 37                                     1
 38                                     1
 39                                     3
 40                                     1
 41                                     1
 42                                     1
 43                                     1
 44                                     1
 45                                     1
 46                                     1

     Total assets (million TL) As of September 2015[4]
 0                                              299084
 1                                              279942
 2                                              260700
 3                                              236148
 4                                              232248
 5                                              189686
 6                                              188820
 7                                               90410
 8                                               73666
 9                                               82195
 10                                              32869
 11                                              51645
 12                                              46518
 13                                              32841
 14                                              23777
 15                                              17494
 16                                              20853
 17                                              13793
 18                                               8920
 19                                              11620
 20                                              10696
 21                                               7631
 22                                               6264
 23                                               2681
 24                                               9476
 25                                               7383
 26                                               1754
 27                                               4975
 28                                               5651
 29                                               4737
 30                                               3975
 31                                               3925
 32                                                204
 33                                               2090
 34                                                477
 35                                               1397
 36                                                843
 37                                                392
 38                                               2450
 39                                                354
 40                                                788
 41                                                116
 42                                                231
 43                                                113
 44                                                 83
 45                                                 53
 46                                                276  ,
                              Banks of Turkey  \
 0                                        NaN
 1                               Central Bank
 2                                        NaN
 3                                 Commercial
 4                                     Public
 5                                        NaN
 6                                    Private
 7                                        NaN
 8                                    Foreign
 9                                        NaN
 10                                Investment
 11                                    Public
 12                                       NaN
 13                             Participation
 14                                    Public
 15                                       NaN
 16                                   Private
 17                                       NaN
 18  1 Under TMSF  italic: Global branch page

                                     Banks of Turkey.1
 0                                                 NaN
 1                                        Central Bank
 2                                                 NaN
 3   Public  Halk Bankası  VakıfBank  Ziraat Bankas...
 4   Halk Bankası  VakıfBank  Ziraat Bankası  Adaba...
 5                                                 NaN
 6   Akbank  Anadolubank  Türkiye İş Bankası  Fibab...
 7                                                 NaN
 8   A&T Bank  Abank  Burgan Bank  Citibank  DenizB...
 9                                                 NaN
 10                                     Public  İlbank
 11                                             İlbank
 12                                                NaN
 13  Public  Vakıf Katılım  Ziraat Katılım Private ...
 14                      Vakıf Katılım  Ziraat Katılım
 15                                                NaN
 16         Albaraka Türk  Kuveyt Türk  Türkiye Finans
 17                                                NaN
 18           1 Under TMSF  italic: Global branch page  ,
          0                                                  1
 0   Public  Halk Bankası  VakıfBank  Ziraat Bankası  Adaba...
 1      NaN                                                NaN
 2  Private  Akbank  Anadolubank  Türkiye İş Bankası  Fibab...
 3      NaN                                                NaN
 4  Foreign  A&T Bank  Abank  Burgan Bank  Citibank  DenizB...,
         0       1
 0  Public  İlbank,
          0                                           1
 0   Public               Vakıf Katılım  Ziraat Katılım
 1      NaN                                         NaN
 2  Private  Albaraka Türk  Kuveyt Türk  Türkiye Finans,
                List of banks in Asia  \
 0                                NaN
 1                   Sovereign states
 2                                NaN
 3     States withlimited recognition
 4                                NaN
 5  Dependencies andother territories

                              List of banks in Asia.1
 0                                                NaN
 1  Afghanistan  Armenia  Azerbaijan  Bahrain  Ban...
 2                                                NaN
 3  Abkhazia  Nagorno-Karabakh  Northern Cyprus  P...
 4                                                NaN
 5  British Indian Ocean Territory  Christmas Isla...  ,
              List of banks in Europe  \
 0                                NaN
 1                   Sovereign states
 2                                NaN
 3     States with limitedrecognition
 4                                NaN
 5  Dependencies andother territories

                            List of banks in Europe.1
 0                                                NaN
 1  Albania  Andorra  Armenia  Austria  Azerbaijan...
 2                                                NaN
 3  Abkhazia  Kosovo  Nagorno-Karabakh  Northern C...
 4                                                NaN
 5  Åland  Faroe Islands  Gibraltar  Guernsey  Isl...  ]